<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/library"
        android:label="Library"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392"
        tools:targetApi="31">
        <activity
            android:name=".StaffDetailActivity"
            android:exported="false"
            android:parentActivityName=".StaffListActivity"/>
        <activity
            android:name=".CreateStaffActivity"
            android:exported="false"
            android:parentActivityName=".StaffListActivity"/>
        <activity
            android:name=".StaffListActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeProfileActivity"/>
        <activity
            android:name=".EmployeeProfileActivity"
            android:exported="true" />
        <activity
            android:name=".controller.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".controller.ShowLog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.Font_And_Mode"
            android:exported="true" />
        <activity
            android:name=".controller.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".controller.Login"
            android:exported="true" />
        <activity
            android:name=".controller.Dashboard"
            android:exported="true" />
        <activity
            android:name=".InsertData"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>